<div>
    <h1>
        <a href="{{ path('main_home') }}">
            <img src="{{ asset('img/Plan de travail 1.svg') }}" alt="Teackets Logo" >
{#            Bucket-List#}
        </a>
    </h1>
    {{ include('menu/nav.html.twig') }}
</div>