{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | About Us
{% endblock %}

{% block body %}
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae consequuntur illo inventore labore laudantium, perspiciatis quo repudiandae similique ullam? A ad aliquam aperiam, esse necessitatibus placeat quibusdam rem voluptatum.</p>
{% endblock %}

