{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <section class="ticket-list">
        {% for user in users %}
            <p>{{  }}</p>
        {% endfor %}
    </section>
{% endblock %}

