{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wish list</h2>

    {% for wish in wishes %}
        <a href="{{ path('wish_show', {'id': wish.id}) }}">{{ wish.title }} - {{ wish.category.name }}</a>
    {% endfor %}

{% endblock %}

{% block title %}
    {{ parent() }} | List
{% endblock %}

